{% extends "theme_base.html" %}

{% load staticfiles %}
{% load metron_tags %}

{% block script_base %}
    
    
   
{% block extra_script %}
        

{% endblock %}
{% endblock %}
{% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
{% block tab_bar %}

<ul class="nav navbar-nav pull-left">
    {% if request.user.is_authenticated %}
       <!-- <li class="active"><a href="#">Dashboard</a></li> -->
       
       <li class='{{ home }}'><a  href="/">Dashboard</a></li>
       <li class='{{ projects }}'><a href="/projects/">Project</a></li>
       <li class='{{ employee }}'><a href="/employee/">Employee</a></li>

    {% endif %}
</ul>
{% endblock %}



{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}





