{% extends "theme_base.html" %}

{% load staticfiles %}
{% load metron_tags %}

{% block script_base %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <link href="https://datatables.net/release-datatables/media/css/jquery.dataTables.css" rel="stylesheet"> 
    <link href="https://datatables.net/release-datatables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet">
    <script src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script src="https://datatables.net/release-datatables/extensions/TableTools/js/dataTables.tableTools.js"></script>
    
   
{% block extra_script %}
        

{% endblock %}
{% endblock %}
{% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
{% block tab_bar %}

<ul class="nav navbar-nav pull-left">
    {% if request.user.is_authenticated %}
       <!-- <li class="active"><a href="#">Dashboard</a></li> -->
       
       <li class='{{ home }}'><a  href="/">Dashboard</a></li>
       <li class='{{ projects }}'><a href="/projects/">Project</a></li>
       <li class='{{ employee }}'><a href="/employee/">Employee</a></li>

    {% endif %}
</ul>
{% endblock %}



{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}





