{% extends "banner_base.html" %}

{% load i18n %}



{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}



{% block extra_head %}

{% block extra_script %}

<style type="text/css" title="currentStyle">
            @import "http://jquery-datatables-column-filter.googlecode.com/svn/trunk/media/css/demo_page.css";
            @import "http://jquery-datatables-column-filter.googlecode.com/svn/trunk/media/css/demo_table.css";
            @import "http://jquery-datatables-column-filter.googlecode.com/svn/trunk/media/css/themes/base/jquery-ui.css";
            
</style>


<script src="http://jquery-datatables-column-filter.googlecode.com/svn/trunk/media/js/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="http://jquery-datatables-column-filter.googlecode.com/svn/trunk/media/js/jquery.dataTables.js" type="text/javascript"></script>
<script src="http://jquery-datatables-column-filter.googlecode.com/svn/trunk/media/js/jquery-ui.js" type="text/javascript"></script>
<script src="http://jquery-datatables-column-filter.googlecode.com/svn/trunk/media/js/jquery.dataTables.columnFilter.js" type="text/javascript"></script>

<script type="text/javascript" src="/site_media/static/js/exportjs/tableExport.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/jquery.base64.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/jspdf/libs/sprintf.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/jspdf/jspdf.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/jspdf/libs/base64.js"></script>
<script type="text/javascript">

$(document).ready(function(){
 $('#Emp_table').dataTable({"oSearch": {"bSmart": false}} )
      .columnFilter({
        aoColumns: [ {type:"text"},
                 { type: "text" },
                 { type: "select",bRegex:true,
                   values:[{ value: '^Software Engineer$', label: 'Software Engineer'},
                           { value: '^Senior Software Engineer$', label: 'Senior Software Engineer'},
                           { value: '^QA Lead$', label: 'QA Lead'},
                           { value: '^Program Analyst$', label: 'Program Analyst'},
                           { value: '^Project Manager$', label: 'Project Manager'},
                           { value: '^System Engineer$', label: 'System Engineer'}
                          ]},
                 { type: "select" },
                 { type: "select" },
                 { type: "select",bRegex:true,
                   values:[{ value: '^MS$', label: 'MS'},
                           { value: '^M.Tech$', label: 'MSC'},
                           { value: 'M.E', label: 'M.E'},
                           { value: 'B.E', label: 'B.E'},
                           { value: 'BSC', label: 'BSC'}
                          ]},
                 { type: "select" },
                 { type: "number-range" },
                 { type: "select" },
                 { type: "select" },
                 { type: "select" },
                 { type: "select" }
                ],
        
    });
});

function exportxl()
{
    $('#Emp_table').tableExport({type:'excel',escape:'false'});
}
function exportpdf()
{
    $('#Emp_table').tableExport({type:'pdf',pdfFontSize:'6',escape:'false'});
}
function poptastic(url)
{
    newwindow=window.open(url,'name','height=800,width=800','left=500');
    if (window.focus) {newwindow.focus()}
}

function printFile(url) {
        var w = window.open(url,'name','height=800,width=800','left=500');
        w.onload = w.print;
        w.focus();
    }
 </script>



{% endblock %}
{% endblock %}



{% block banner %}
    {% if user.is_authenticated %} 
        <h3>Employee Details</h3>
        <!-- <h4 onclick="exportxl()" >Export</h4> -->
        <input type="button" value="Excel" onclick="exportxl();">
        <input type="button" value="PDF" onclick="exportpdf();"> <br></br>
        <table id="Emp_table" class="display dataTable" aria-describedby="example_info" style="width: auto;">
        <!-- <table id='Emp_table'class="display" cellspacing="0"> -->
         		<thead><th width="50px">EMP ID</th><th>NAME</th><th>Designation</th><th>Current Project</th>
                <th>Billable Status</th>
                <th>Qualifiction</th><th>Major Subject</th><th>Experience</th><th>Visa Status</th>    
                </thead>
                <tfoot>
                	<tr><th width="50px">EMP ID</th><th>NAME</th><th>Designation</th><th>Current Project</th>
                <th>Billable Status</th>
                <th>Qualifiction</th><th>Major Subject</th><th>Experience</th><th>Visa Status</th> 
                </tr>

                </tfoot>
                <tbody>
         {% for emp in all_employee %}
      	<tr>
     		<td>{{emp.id}}</td><td><a href="javascript:poptastic('/employee/{{ emp.id }}/');"> {{emp.name}} </td><td>{{emp.Designation}}</td>
            <td>{{emp.proj}}</td>
            <td>{{emp.bill}}</td>
            <td>{{emp.Qualification}}</td>
            <td>{{emp.Major_Subject}}</td>
            <td>{{emp.exp}}</td>
            <td>{{emp.Visa_Status}}</td>
        </tr>
  
        {% endfor %}
        </tbody>
        </table>
    
    {% else %}

    <h1>{% trans "Welcome to ASM" %}</h1>
    
    
    <h2>About resource management</h2>
   
        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-primary">Log In</a>{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
{% block footer %}
    {% include "_footer.html" %}
{% endblock %}
