
<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>

<head>
<script>
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
</head>
<body>
<div id="printableArea">
<h2>{{ employees.name }}</h2>
<img src="/site_media/media/{{ employees.image }}" alt="{{ employees.name }}" style="float:right; "width="82" height="82">
<h4>Personal Details:</h4>
<!-- Table goes in the document BODY -->
<table class="gridtable">
<tr>
	<th>Date Of Birth</th><th>Qualification</th><th>Major Subject</th><th>Mobile</th><th>Personal Email</th>
</tr>
<tr>
	<td>{{employees.dob}}</td><td>{{employees.Qualification}}</td><td>{{employees.Major_Subject}}</td>
	<td>{{employees.mobile}}</td><td>{{employees.personal_email}}</td>
</tr>
</table>
<h4>Professional Details</h4>
<table class="gridtable">
<tr>
	<th>Date Of Joining</th><th>Experience Before ASM</th><th>ASM Experience</th><th>Total Experience</th><th>Billing Start Date</th>
	<th>Current Project</th><th>Designation</th><th>Visa Status</th><th>Skill Sets</th><th>Official Email</th>
</tr>
<tr>
	<td>{{employees.doj}}</td><td>{{employees.exp}}</td><td>null</td>
	<td>null</td><td>{{employees.start_date}}</td><td>{{employees.proj}}</td><td>{{employees.Designation}}</td>
	<td>{{employees.Visa_Status}}</td><td>{{employees.Skill_sets}}</td><td>{{employees.email}}</td>
</tr>
</table>

<h4>Billing History</h4>
<table class="gridtable">
<tr>
	<th>Project</th>
	<!-- <th>Current Billing Status</th> -->
	<th>Billing Start Date</th>
	<th>Billing End Date</th>
<tr>
{% for bill in billing_history %}
<tr>
	<td>{{ bill.proj_name }}</td>
	<td>{{ bill.start_date }}</td>
	<td>{{ bill.end_date }}</td>
<tr>
{% endfor %}
</table>
<h4>Residence Address</h4>
<p> {{employees.Add1}} </p>
<p> {{employees.Add2}} </p>
<p> City : {{employees.City}} </p>
<p> Pin code :{{employees.Zip_code}} </p>
</div>
<br/>
<input type="button" onclick="printDiv('printableArea')" value="Print" />
<body>


