{% extends "banner_base.html" %}

{% load i18n %}



{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}



{% block extra_head %}

{% block extra_script %}
<script type="text/javascript" src="/site_media/static/js/dataTables/jquery.dataTables.columnFilter.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/tableExport.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/jquery.base64.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/jspdf/libs/sprintf.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/jspdf/jspdf.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/jspdf/libs/base64.js"></script>
<script type="text/javascript">

$(document).ready(function(){
 $('#Emp_table').dataTable({"oSearch": {"bSmart": false}} )
      .columnFilter({
        aoColumns: [ {type:"text"},
                 { type: "text" },
                 { type: "select",bSmart:true},
                 { type: "select" },
                 { type: "select" },
                 { type: "select",bRegex:true,
                   values:[{ value: '^MS$', label: 'MS'},
                           { value: 'MSC', label: 'MSC'},
                           { value: 'M.E', label: 'M.E'}
                          ]},
                 { type: "select" },
                 { type: "select" },
                 { type: "select" },
                 { type: "select" },
                 { type: "select" }
                ],
        
    });
});

function exportxl()
{
    $('#Emp_table').tableExport({type:'excel',escape:'false'});
}
function exportpdf()
{
    $('#Emp_table').tableExport({type:'pdf',pdfFontSize:'6',escape:'false'});
}

 </script>



{% endblock %}
{% endblock %}



{% block banner %}
    {% if user.is_authenticated %} 
        <h3>Employee Details</h3>
        <!-- <h4 onclick="exportxl()" >Export</h4> -->
        <input type="button" value="Excel" onclick="exportxl();">
        <input type="button" value="PDF" onclick="exportpdf();"> <br></br>
        <table id="Emp_table" class="display dataTable" aria-describedby="example_info" style="width: auto;">
        <!-- <table id='Emp_table'class="display" cellspacing="0"> -->
         		<thead><th width="50px">EMP ID</th><th>NAME</th><th>Designation</th><th>Current Project</th>
                <th>Billable Status</th>
                <th>Qualifiction</th><th>Experience</th><th>Visa Status</th>    
                </thead>
                <tfoot>
                	<tr><th width="50px">EMP ID</th><th>NAME</th><th>Designation</th><th>Current Project</th>
                <th>Billable Status</th>
                <th>Qualifiction</th><th>Experience</th><th>Visa Status</th> 
                </tr>

                </tfoot>

                <tbody>
         {% for emp in all_employee %}
      	<tr>
     		<td width="50px">{{emp.id}}</td><td><a href="/employee/{{ emp.id }}"> {{emp.name}} </td><td>{{emp.Designation}}</td>
            <td>{{emp.proj}}</td>
            <td>{{emp.bill}}</td>
            <td>{{emp.Qualification}}</td>
            <td>{{emp.exp}}</td>
            <td>{{emp.Visa_Status}}</td>
        </tr>
  
        {% endfor %}
        </tbody>
        </table>
    
    {% else %}

    <h1>{% trans "Welcome to ASM" %}</h1>
    
    
    <h2>About resource management</h2>
   
        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-primary">Log In</a>{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
{% block footer %}
    {% include "_footer.html" %}
{% endblock %}
