<head>
<script>
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
</head>
<body>
<div id="printableArea">
<h2>{{ employees.name }}</h2>
<img src="/site_media/media/{{ employees.image }}" alt="{{ employees.name }}" width="82" height="82">
        {% for key,values in employees.items %}
            <tr><td> {{ key }} : {{ values }} </td></tr>
        {% endfor %}
</div>
<br/>
<input type="button" onclick="printDiv('printableArea')" value="Print" />
<body>