{% extends "banner_base.html" %}

{% load i18n %}



{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}



{% block extra_head %}

{% block extra_script %}
<script type="text/javascript">
$(document).ready(function() {
    var table = $('#Emp_table').DataTable({
                               // "scrollX": true,
                                "dom": 'T<"clear">lfrtip',
                                 "oTableTools": {
            "sSwfPath": "/site_media/static/copy_csv_xls_pdf.swf",
            "aButtons": [
                "print",
                "pdf",
                {
                    "sExtends": "xls",
                    "sButtonText": "Excel",
                    "sFileName": "*.xls"
                }

            ]
        }
                               
                            
                         });
 
    $("#Emp_table tfoot th").each( function ( i ) {
        var select = $('<select><option value=""></option></select>')
            .appendTo( $(this).empty() )
            .on( 'change', function () {
                table.column( i )
                    .search( $(this).val() )
                    .draw();
            } );
 
        table.column( i ).data().unique().sort().each( function ( d, j ) {
            select.append( '<option value="'+d+'">'+d+'</option>' )
        } );
    } );
} );
 </script>


{% endblock %}
{% endblock %}



{% block banner %}
    {% if user.is_authenticated %} 
        <h3>Employee Details</h3>
        <table id='Emp_table'class="display" cellspacing="0" width="100%">
         		<thead><th>EMP ID</th><th>NAME</th><th>Designation</th><th>Current Project</th>
                <th>Billable Status</th>
                <th>Qualifiction</th><th>Experience</th>    
                </thead>
                <tfoot>
                	<tr><th>EMP ID</th><th>NAME</th><th>Designation</th><th>Current Project</th>
                <th>Billable Status</th>
                <th>Qualifiction</th><th>Experience</th>    
                </tr>

                </tfoot>

                <tbody>
         {% for emp in all_employee %}
      	<tr>
     		<td>{{emp.id}}</td><td><a href="/employee/{{ emp.id }}"> {{emp.name}} </td><td>{{emp.Designation}}</td>
            <td>{{emp.proj}}</td>
            <td>{{emp.bill}}</td>
            <td>{{emp.Qualification}}</td>
            <td>{{emp.exp}}</td>
        </tr>
  
        {% endfor %}
        </tbody>
        </table>
      
    {% else %}

    <h1>{% trans "Welcome to ASM" %}</h1>
    
    
    <h2>About resource management</h2>
   
        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-primary">Log In</a>{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
{% block footer %}
    {% include "_footer.html" %}
{% endblock %}
