{% extends "banner_base.html" %}

{% load i18n %}



{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
 <script type="text/javascript">

$(document).ready(function () {
  function createChart(container, text, valA, valB) {
    $(container).highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
    },
    tooltip: {
        pointFormat: '{series.name}: {point.percentage:.1f}%</b>'
    },
    plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y}',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
    labels: {
items: [{
html: '<b>Total: </b>'+(valA+valB),
style: {
  left: '10px',
  top: '10px',
  color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
}
}]

},
    title: { text: text },
    series: [{
      type: 'pie',
      name: text,
      data: [
        ['Bill',   valA ],
        ['Non-Bill', valB ],
      ]
    }]
  });
}

{% for pjs in mylist %}
createChart('#dashboard{{ pjs.ID }}',"{{ pjs.proj_name }}",{{ pjs.bill }},{{ pjs.not_bill }});
{% endfor %}

 
});
        
 </script>
{% endblock %}


{% block banner %}
    {% if user.is_authenticated %} 
        <div class="container-fluid">
        <div class="row">
       
        {% for pjs2 in mylist2 %}
       
        <div class="col-md-6" id="dashboard{{ pjs2.ID }}" style="padding:10px;"></div>
  
        {% endfor %}
        <div>
        </div>
    {% else %}

    <h2>{% trans "Welcome to ASM" %}</h2>
    
   
 
   
        {% url "account_login" as login_url %}
        
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-primary">Log In</a>{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
