{% extends "banner_base.html" %}

{% load i18n %}



{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}



{% block banner %}
    {% if user.is_authenticated %} 
        <h1>Dashboard</h1>
        <div class="container-fluid">
        <div class="row">
        {% for pjs2 in mylist2 %}
        <h2> {{ pjs2.proj_name }} </h2>
        <div class="col-md-6" id="dashboard{{ pjs2.ID }}">.col-md-6</div>
        {% endfor %}
        <div>
        </div>
    {% else %}

    <h1>{% trans "Welcome to ASM" %}</h1>
    
    <h2>About resource management</h2>
    <p>
        {% blocktrans %}
        This site is used to manage project and resources..
        {% endblocktrans %}
    </p>
   
        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-primary">Log In</a>{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
