{% extends "banner_base.html" %}

{% load i18n %}



{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}



{% block extra_head %}
{% block extra_script %}

<script type="text/javascript" src="/site_media/static/js/dataTables/jquery.dataTables.columnFilter.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/tableExport.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/jquery.base64.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/jspdf/libs/sprintf.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/jspdf/jspdf.js"></script>
<script type="text/javascript" src="/site_media/static/js/exportjs/jspdf/libs/base64.js"></script>
<script type="text/javascript">

$(document).ready(function(){
 $('#Proj_emp_table').dataTable({"oSearch": {"bSmart": false}} )
      .columnFilter({
        aoColumns: [ {type:"text"},
                 { type: "text" },
                 { type: "text"},
                 { type: "select" }
                ],
        
    });
});

function exportxl()
{
    $('#Proj_emp_table').tableExport({type:'excel',escape:'false'});
}
function exportpdf()
{
    $('#Proj_emp_table').tableExport({type:'pdf',pdfFontSize:'6',escape:'false'});
}
function poptastic(url)
{
    newwindow=window.open(url,'name','height=800,width=800','left=500');
    if (window.focus) {newwindow.focus()}
}

 </script>

{% endblock %}
{% endblock %}


{% block banner %}
    {% if user.is_authenticated %} 

    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-3">
          <div id="sidebar" class="sidebar-nav span3">
            <ul class="nav nav-pills nav-stacked">
            {% for x in proj_values %}
              <li class="nav-menu"><a href="/projects/{{ x.id }}">{{ x.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        </div>
        <div class="col-sm-9">
 
        <h4>{{ proj.name }}</h4>
         <input type="button" value="Excel" onclick="exportxl();">
        <input type="button" value="PDF" onclick="exportpdf();"> <br></br>
        <table id='Proj_emp_table' class="display" cellspacing="0" width="100%">
        <thead>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Start Date</th>
            <th>Bill Status</th>
        </thead>
        <tfoot>
          <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Start Date</th>
            <th>Bill Status</th>
        </tfoot>
        
        {% for x in employees %}
            <tr> 
                <td>{{ x.id }} </td>
                <td><a href="javascript:poptastic('/employee/{{ x.id }}/');">{{ x.name }}</td>
                <td>{{ x.start_date }} </td>
                <td>{{ x.bill }} </td>
            </tr>
        {% endfor %}
        </table>
        </div>
        </div>
        </div>
         
    {% else %}

    <h1>{% trans "Welcome to ASM" %}</h1>
    
    <h2>About resource management</h2>
    <p>
        {% blocktrans %}
        This site is used to manage project and resources..
        {% endblocktrans %}
    </p>
   
        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-primary">Log In</a>{% endblocktrans %}</p>
    {% endif %}
{% endblock %}


