body
{
padding:0px;
}
.main_div
{
	margin: 0 auto;
    max-width: 1453px;
    min-width: 1024px;
   
}
#heading
{
	background: url('/site_media/static/home_bg.jpg');
	color:green;
	padding:0px;
	height:174px;
	z-index: -99;
	border:0px;
	width:100%;
	min-width:1024px;
	margin:0px;	
}

#centerDiv{
	width:1100px;
	margin:0px auto;
	margin-top:-64px;	
}

#tabs
{
	background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #DFDFDF;
	border-radius: 4px;
	height: 51px;
	width: 100%;
    
}
#tabs ul li a 
{
	color: #04173D;
	display: block;
	float: left;
	font-family: 'Asap';
	font-size: 16px;
	height: 49px;
	line-height: 46px;
	padding: 0 42px;
}
#tabs ul li:hover a {
	background: none repeat scroll 0 0 #E9E9E9;
	box-shadow: 0 0 1px 4px #DBDBDB inset;
	color: #4D4D4D;
	text-decoration: none;
}

#tabs ul li.active a {
	background: -moz-linear-gradient(center top , 	#003380, 	#1975FF) repeat scroll 0 0 rgba(0, 0, 0, 0);
	box-shadow: none;
	color: #FFFFFF;
	text-decoration: none;
}

#Content
{
	width:100%;
	padding:13px 0px; 

}

.dropdown-menu
 {
 
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	margin-left:-88px;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-default 
{
	background: url('');
	border: 0px ;
	 
}
.navbar-default li
{
     background-color: #E7E7E7;
	 
}

.navbar-nav > li > a {
    line-height: 0;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}
.pull-right {
    float: right;
   
}

.navbar 
{
	margin: 0 auto;
    max-width: 1024px;
    min-width: 1024px;
}

#tabs ul
{
	width:1024px;
}

#centerDiv .container {
    width: 1024px;
}


#centerDiv .row {
    margin-left: -19px;
    margin-right: -15px;
    margin-top:11px;
}


#centerDiv .col-md-2 
{
    padding:10px 0px;	
    width: 19.667%;
}


#centerDiv .col-md-10
{
    padding:0px 0px 0px 60px;
    width: 500px;
}

#centerDiv .col-md-5 {
    width: 70.667%;
}

#centerDiv .col-md-4
{
	padding:50px 0px;
	width: 33.3333%;
}

#Emp_table
{
    border-collapse: collapse;
    border-color: #FFFFFF;
    border-spacing: 0;
    border-style: solid;
    border-width: 0;
    font-family: arial,tahoma,verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#Emp_table td {
    height: 27px;
    width: 191px;
}

#sidebar {
    background-color: #E7E7E7;
    font-size: 14px;
    font-family: 'Asap';
    bottom: 0;
    margin-left: -133px;
    margin-top: 114px;
    position: absolute;
    min-height: 1px;
    top: 70px;
    width: 110px;
}
 
#sidebar > .nav > .nav-menu > a {
  border: 0px;
  border-radius: 0px;
  padding: 20px;
}

