{% extends "account/base.html" %}

{% load url from future %}
{% load bootstrap %}

{% block body_class %}account account-settings{% endblock %}

{% block head_title %}Account{% endblock %}
{% block tab_bar %}
<ul class="nav navbar-nav pull-left">
       <li class='{{ home }}'><a  href="{% url 'employee.views.home' %}">Dashboard</a></li>
       <li class='{{ projects }}'><a href="{% url 'employee.views.projects_main' %}">Projects</a></li>
       <li class='{{ employee }}'><a href="{% url 'employee.views.employees_main' %}">Employees</a></li>
       <li class='active'><a href="{% url "account_settings" %}">settings</a></li>
</ul>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_settings" %}">
                <legend>Account</legend>
                {% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock %}